<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Buffalo - Cda</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
</head>

<body class="sidebar-mini skin-blue sidebar-collapse">
  <div class="wrapper">
    <aside id="menu" class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu tree" data-widget="tree">
          <%= if (current_user) { %>
          <li class="active treeview menu-open">
              <div class="user-panel">
                  <div class="pull-left image">
                    <img src="/assets/images/frog.jpeg" class="img-circle" alt="User Image">
                  </div>
                  <div class="pull-left info">
                    <p><%= current_user.Name %></p>
                    <p><%= current_user.RoleID %></p>
                  </div>
                </div>
            <ul class="treeview-menu" style="">
              <li><a href="index.html">Profile</a></li>
              <li><a href="index2.html">Logout</a></li>
            </ul>
         </li>    
         <% } %>
         <li class="header">Menu</li>
         <li><a href="/scenes"><i class="fa fa-table"></i> <span>Scenes</span></a></li>
          <li><a href="/media"><i class="fa fa-image"></i> <span>Media</span></a></li>
          <li><a href="/devices"><i class="fa fa-database"></i> <span>Devices</span></a></li>
          <li><a href="/users"><i class="fa fa-user"></i> <span>Users</span></a></li>
          <li><a href="/systems"><i class="fa fa-gear"></i> <span>System</span></a></li>
        </ul>
      </section>
    </aside>

    <div class="content-wrapper">
      <section class="content container">
        <%= partial("flash.html") %>
          <%= yield %>
      </section>
    </div>

    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Version 1.0
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; Grorymab AG 2018 <a href="https://c-da.ch/">CdA</a>.</strong> All rights reserved.
    </footer>

    <%= javascriptTag("application.js") %>

  </div>
</body>

</html>