<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Buffalo - Cda</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
</head>

<body class="hold-transition sidebar-collapse">
  <div class="wrapper">
    <header class="main-header">
      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            <%= if (current_user) { %>
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/assets/images/frog.jpeg" class="user-image" alt="User Image">
                <span class="hidden-xs"><%= current_user.Name %></span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  <img src="/assets/images/frog.jpeg" class="img-circle" alt="User Image">
                  <p>
                    <%= current_user.Name %>
                    <small><%= current_user.RoleID %></small>
                  </p>
                </li>
                <!--
                <li class="user-body">
                  <div class="row">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </div>
                </li>
                -->
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
            <% } %>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content-wrapper">
      <section class="content container">
        <%= partial("flash.html") %>
          <%= yield %>
      </section>
    </div>

    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Version 1.0
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; Grorymab AG 2018 <a href="https://c-da.ch/">CdA</a>.</strong> All rights reserved.
    </footer>

    <%= javascriptTag("application.js") %>

  </div>
</body>

</html>